@media (max-width: 450px) {
  /* Header styling */

  header {
    justify-content: space-around;
  }

  header input {
    width: 70%;
    padding: 0.8rem;
  }

  header input::placeholder {
    font-size: 0.6rem;
  }

  header button {
    width: 80px;
  }

  header button i {
    font-size: 1.5rem;
  }

  header img {
    width: 80px;
  }

  /* slogan section styling */

  .slogan-section {
    font-size: 0.6rem;
  }

  .text {
    animation: typing 4s steps(57), cursor 0.6s step-end infinite alternate;
  }

  /* Info section styling */

  .info-section {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .leaflet-map {
    width: 100%;
  }

  #map {
    height: 300px;
    width: 90%;
  }

  .ip-grid {
    width: 90%;
    height: 500px;
    padding: 1rem;
    gap: 1.3rem;
  }

  .item-wrapper.ip {
    font-size: 1.5rem;
  }

  .item-wrapper {
    font-size: 0.7rem;
  }
}

@media (min-width: 451px) and (max-width: 700px) {
  /* Header styling */

  header {
    justify-content: space-around;
  }

  header input {
    width: 60%;
  }

  header input::placeholder {
    font-size: 0.9rem;
  }

  header button {
    width: 80px;
  }

  header button i {
    font-size: 1.5rem;
  }

  header img {
    width: 80px;
  }

  /* slogan section styling */

  .slogan-section {
    font-size: 0.9rem;
  }

  .text {
    animation: typing 3.5s steps(57), cursor 0.6s step-end infinite alternate;
  }

  /* Info section styling */

  .info-section {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .leaflet-map {
    width: 100%;
  }

  #map {
    height: 300px;
    width: 80%;
  }

  .ip-grid {
    width: 80%;
    height: 500px;
    padding: 1rem;
    gap: 1.3rem;
  }

  .item-wrapper.ip {
    font-size: 1.5rem;
  }

  .item-wrapper {
    font-size: 0.9rem;
  }
}

@media (min-width: 701px) and (max-width: 1000px) {
  /* Header styling */
  header {
    justify-content: space-around;
  }

  header input {
    width: 40%;
  }

  header input::placeholder {
    font-size: 1rem;
  }

  header button {
    width: 120px;
  }

  header button i {
    font-size: 2rem;
  }

  header img {
    width: 120px;
  }

  /* slogan section styling */

  .slogan-section {
    font-size: 1.4rem;
  }

  .text {
    animation: typing 4s steps(57), cursor 0.6s step-end infinite alternate;
  }

  /* Info section styling */

  .info-section {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .leaflet-map {
    width: 100%;
  }

  #map {
    height: 300px;
    width: 80%;
  }

  .ip-grid {
    width: 80%;
    height: 500px;
    padding: 1rem;
    gap: 1.3rem;
  }

  .item-wrapper.ip {
    font-size: 1.5rem;
  }

  .item-wrapper {
    font-size: 0.9rem;
  }
}

@media (min-width: 1001px) and (max-width: 1500px) {
  /* Header styling */
  header {
    justify-content: center;
  }

  header input {
    width: 40%;
  }

  header input::placeholder {
    font-size: 1rem;
  }

  header button {
    width: 120px;
  }

  header button i {
    font-size: 2rem;
  }

  header img {
    width: 120px;
  }
  /* Info section styling */

  .leaflet-map {
    width: 100%;
  }

  #map {
    height: 500px;
    width: 80%;
  }

  .ip-grid {
    width: 80%;
    height: 500px;
    padding: 1rem;
    gap: 1.3rem;
  }

  .item-wrapper.ip {
    font-size: 1.5rem;
  }

  .item-wrapper {
    font-size: 0.9rem;
  }
}
